<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deny User Request - Ledger Lifeline</title>
    <link rel="stylesheet" href="/css/requestDenied.css" />
</head>
<body>
    <div class="body-container">
        <h1>User Request Denied</h1>
        <br>
        <p>The user has been successfully denied and removed from the system.</p>
        <br>
        <a class="submit-btn" href="http://localhost:3000/dashboard">Return to Dashboard</a>
    </div>
</body>
</html>