/* General resets and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Page background and container */
body {
    background-image: linear-gradient(to bottom right, #283048, #859398);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.body-container {
    width: 350px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
}

.submit-btn {
    width: 50%;
    padding: 10px;
    background-color: #3d3d3d;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}